/* Helpers */
@-webkit-keyframes flash-bg {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fdfdcf;
  }
  100% {
    background-color: #fff;
  }
}
.hidden {
  display: none !important;
}
.box-shadow {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.flush-margin {
  margin: 0 !important;
}
.flush-padding {
  padding: 0 !important;
}
.space-prev {
  margin-left: 16px;
}
.space-next {
  margin-right: 16px;
}
.space-before {
  margin-top: 16px;
}
.space-after {
  margin-bottom: 16px;
}
.pad-bottom {
  padding-bottom: 16px !important;
}
.pad-top {
  padding-top: 16px;
}
.pad-before {
  padding-before: 16px;
}
.pad-next {
  padding-next: 16px;
}
.flash-bg {
  animation: flash-bg 0.5s 0s;
  animation-fill-mode: forwards;
}
.center,
.dash-number {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.p-rel,
.dev-notes--minimised {
  position: relative;
}
.nowrap {
  whitespace: nowrap;
}
.wrap {
  whitespace: normal;
}
.valign {
  vertical-align: middle;
}
.control-on {
  background-color: #233d4d !important;
  color: #fff !important;
}
.disabled {
  border-color: #bababa;
  color: #bababa !important;
  cursor: not-allowed !important;
  text-decoration: line-through !important;
}
.reset-font {
  font-family: "Roboto", sans-serif !important;
  text-transform: none !important;
  color: #333 !important;
}
.accent-font {
  font-family: "Lato", sans-serif;
  font-size: 0.9375rem;
  text-transform: uppercase;
  text-decoration: none;
}
.white-link {
  color: #fff;
}
.white-link:active,
.white-link:visited,
.white-link:hover {
  color: #fff;
}
.positive {
  color: #29873c;
}
.negative {
  color: #d55b5b;
}
.containing {
  margin-left: 0;
}
.containing li {
  list-style-type: none;
}
.horizontal > li {
  display: block;
  float: left;
}
.horizontal:after {
  float: none;
  clear: both;
  content: '';
  display: block;
}
dl.horizontal dt {
  width: 12.5rem;
  float: left;
  clear: left;
  padding-right: 16px;
}
dl.horizontal dd {
  width: 70%;
  float: left;
}
dl.horizontal:after {
  clear: both !important;
}
#dev-notes {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  background-color: #fdfdcf;
  padding: 1.25rem;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 1000;
}
#dev-notes li {
  font-size: 0.875rem;
  margin-bottom: 14px;
}
#dev-notes .close-note {
  cursor: pointer;
}
#dev-notes code {
  padding: 0.3125rem;
  max-width: 100%;
  display: block;
  background: #fff;
  white-space: normal;
  margin-top: 5px;
  border: 1px solid #ccc;
  font-family: Courier;
}
.dev-notes--minimised {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  cursor: move;
}
.dev-notes--minimised .dev-notes__content {
  display: none;
}
.dev-notes--minimised > .material-icons {
  position: absolute;
  left: 12px;
  top: 12px;
}
.dev-notes--maximised {
  top: auto;
  width: 25rem;
  height: auto;
  overflow: visible;
  cursor: move;
}
.dev-notes--maximised .dev-notes__content {
  display: block;
}
.dev-notes--maximised.dev-notes--long {
  width: 37.5rem;
}
.dev-notes--maximised > .material-icons {
  display: none;
}
#main-content,
#master-grid.grid,
body {
  background-color: #eff3e5 !important;
}
#main-content__body {
  border-color: #93b153;
}
#pagepanel {
  background-color: #8caa4d;
}
.annex,
.annex-tab {
  background-color: #93b153;
}
.breadcrumbs__crumb--area,
.breadcrumbs__crumb a,
.breadcrumbs__crumb {
  background-color: transparent;
  color: #93b153;
}
.tabs__tab {
  border-top-color: rgba(147,177,83,0.25);
}
.tabs__tab--on {
  border-top-color: #93b153;
}
.tabs__content {
  border-bottom-color: #93b153;
}
.chart {
  width: 100%;
}
.dash-number {
  font-size: 1.875rem;
}
.dash-number__text {
  display: block;
  font-size: initial;
}
#bar-reg-pfx-business,
#bar-reg-cfx-business,
#donut-reg-pfx-fulfilment,
#donut-reg-cfx-fulfilment,
#donut-pay-in-fulfilment,
#donut-pay-out-fulfilment,
#bar-pay-in-business,
#bar-pay-out-business {
  margin: 1.875rem 0;
  height: 15.625rem;
}
#map-reg-pfx-geography,
#map-reg-cfx-geography {
  margin: 1.875rem 0 1.25rem 0;
  height: 25rem;
}

/*# sourceMappingURL=../_maps/pages/cd.page.dashboard.css.map */
