


<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<title>Enterprise tools</title>
		<meta name="description" content="Enterprise tools"/>
		<meta name="copyright" content="Currencies Direct"/>
		<!--link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
		<!--link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'-->
		<!--link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet"-->
		<!--link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'-->

		<link rel="stylesheet" type="text/css" href="../css/cd.css"/>
				<link rel="stylesheet" type="text/css" href="../css/pages/cd.page.compliance.min.css"/>
			</head>

	<body>
<!-- BEGIN: TOP BAR -->

<nav id="top-bar">

	<span class="burger--maximise"><span></span></span>
	<p id="top-bar__title"><a href="dashboard.html">Titan</a></p>

	<ul class="top-bar__utils">

		
		<li class="top-bar__util drawer-trigger" data-ot="Your profile" data-drawer="drawer-user">
			<a href="#" class="space-next"><i class="material-icons">person</i>Hi, Vivek Awasthi</a>
		</li>

		<li class="top-bar__util" data-ot="Logout">
			<a href="#"><i class="material-icons">power_settings_new</i></a>
		</li>

	</ul>

</nav>

<!-- END: TOP BAR -->

<!-- BEGIN: MAIN NAV -->

<nav id="main-nav" class="main-nav--minimised">

	<ul>

		<li id="main-nav--dashboard" class="main-nav__item">
			<a href="#">
				<i class="material-icons main-nav__icon">view_module</i>
				<span class="main-nav__text">Dashboard</span>
			</a>
			<nav class="main-nav__sub-nav">
				<ul>
					<li class="sub-nav__title">Dashboards</li>
					<li class="sub-nav__item">
						<a href="/dashboard-compliance.html">Atlas</a>
					</li>
					<li class="sub-nav__item">
						<a href="/dashboard-titan.html">Titan</a>
					</li>
					<li class="sub-nav__item">
						<a href="/dashboard-banking.html">Banking</a>
					</li>
					<!--li class="sub-nav__item">
						<a href="/dashboard-banking.html">Banking</a>
					</li-->
				</ul>
			</nav>
		</li>

		<li id="main-nav--compliance" class="main-nav__item--on">
			<a href="#">
				<i class="material-icons main-nav__icon">check_circle</i>
				<span class="main-nav__text">Atlas</span>
			</a>
			<nav class="main-nav__sub-nav">
				<ul>
					<li class="sub-nav__title">Atlas</li>
					<li class="sub-nav__sub-title">Queues</li>
					<li class="sub-nav__item">
						<a href="/page-compliance-registration-queue.html">Registrations</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-compliance-payments-in-queue.html">Payments in</a>
					</li>
					<li class="sub-nav__item space-after">
						<a href="/page-compliance-payments-out-queue.html">Payments out</a>
					</li>
					<li class="sub-nav__sub-title">Reports</li>
					<li class="sub-nav__item">
						<a href="/page-compliance-registration-report.html">Registrations</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-compliance-payments-in-report.html">Payments in</a>
					</li>
					<li class="sub-nav__item  space-after">
						<a href="/page-compliance-payments-out-report.html">Payments out</a>
					</li>
					<li class="sub-nav__sub-title">Other</li>
					<li class="sub-nav__item--on">
						<a href="/page-compliance-beneficiaries.html">Beneficiaries</a>
					</li>
				</ul>
			</nav>
		</li>

		<li id="main-nav--banking" class="main-nav__item">
			<a href="#">
				<i class="material-icons main-nav__icon">account_balance</i>
				<span class="main-nav__text">Banking</span>
			</a>
			<nav class="main-nav__sub-nav">
				<ul>
					<li class="sub-nav__title">Banking</li>
					<li class="sub-nav__item">
						<a href="/page-banking-blotter.html">Blotter</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-banking-account-balance.html">Account balances <span class="indicator--neutral indicator--micro f-right">1234</span></a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-banking-balance-exceptions.html">Balance exceptions<span class="indicator--neutral indicator--micro f-right">2</span></a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-banking-balance-exceptions.html">Bank accounts<span class="indicator--neutral indicator--micro f-right">8045</span></a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-banking-balance-entries.html">Balance entries<span class="indicator--neutral indicator--micro f-right">1958</span></a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-banking-duplicate-queue.html">Potential duplicate queue<span class="indicator--neutral indicator--micro f-right">3734</span></a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-banking-balance-upload.html">Manual balance upload</a>
					</li>
				</ul>
			</nav>
		</li>

		<li id="main-nav--treasury" class="main-nav__item">
			<a href="#">
				<i class="material-icons main-nav__icon">monetization_on</i>
				<span class="main-nav__text">Treasury</span>
			</a>
			<nav class="main-nav__sub-nav">
				<ul>
					<li class="sub-nav__title">Titan</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-profiles-queue.html">Customers</a>
					</li>
					<li class="sub-nav__item space-after">
						<a href="/page-treasury-conflicts.html">Conflicts</a>
					</li>
					<li class="sub-nav__sub-title">Queues</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-incoming-funds-queue.html">Payments in</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-payments-queue.html">Payments out</a>
					</li>
					<li class="sub-nav__item space-after">
						<a href="/page-treasury-fx-tickets-queue.html">FX tickets</a>
					</li>
					<!--li class="sub-nav__item space-after">
						<a href="/page-treasury-profiles-queue.html">Profiles</a>
					</li-->
					<li class="sub-nav__sub-title">Treasury</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-b2b-queue.html">B2B queue</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-deal-queue.html">Deal queue</a>
					</li>
					<li class="sub-nav__item space-after">
						<a href="/page-treasury-add-booking.html">Add deal</a>
					</li>
					<li class="sub-nav__sub-title">Reports</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-incoming-funds-report.html">Payments in</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-payments-report.html">Payments out</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-fx-tickets-report.html">FX tickets</a>
					</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-payees-report.html">Payees</a>
					</li>
					<li class="sub-nav__item space-after">
						<a href="/page-treasury-invoices-report.html">Invoices</a>
					</li>
					<!--li class="sub-nav__item space-after">
						<a href="/page-treasury-profiles-report.html">Profiles</a>
					</li-->
					<!--li class="sub-nav__sub-title">Profile Management</li>
					<li class="sub-nav__item">
						<a href="/treasury-profiles-list.html">All profiles</a>
					</li-->
					<!--li class="sub-nav__sub-title">Other</li>
					<li class="sub-nav__item">
						<a href="/page-treasury-payees-add-payee.html">Add payees</a>
					</li-->
				</ul>
			</nav>
		</li>

	</ul>

</nav>

<!-- END: MAIN NAV -->

<main class="main-content--large">

	<h1>

		Eric Watrigant
		
<!-- BEGIN: BREADCRUMBS -->

<span class="breadcrumbs">

	<span class="breadcrumbs__crumb--in">in</span>
	<span class="breadcrumbs__crumb--area">Compliance</span>

			<span class="breadcrumbs__crumb"><a href="/page-compliance-beneficiaries.html">Beneficiaries</a></span>
	
</span>

<!-- END: BREADCRUMBS -->
	</h1>

	<div class="main-content__wrap">

		
<!-- BEGIN: MINIMISED FILTERS -->

<div class="filter-minimised hidden">
	<i class="material-icons">filter_list</i>
	<span class="filter-minimised__number">3</span>
</div>

<!-- END: MINIMISED FILTERS -->

		<div class="main-content__main small">

			<div class="message--positive">
	<div class="copy">
		<p>A success message concerning this</p>
	</div>
</div>
			<div class="message--negative">
	<div class="copy">
		<p>Any error messages concerning this.</p>
	</div>
</div>
      <section class="main-content__section">

				<h2 class="hidden">Summary</h2>

				<div id="beneficiary-summary" class="boxpanel summary">

					<div class="grid">

						<div class="grid__col--3">

							<dl class="split-list">
								<dt>Last paid (by Nandos Ltd)</dt>
								<dd>12/01/1987 15:32:44</dd>

								<dt>Organisation</dt>
								<dd>CD</dd>

								<dt>Third Party?</dt>
								<dd>Yes</dd>

							</dl>

						</div>

						<div class="grid__col--3 grid__col--pad-left">

							<dl class="split-list">

								<dt>Acc. No / IBAN</dt>
								<dd>FR7611306000131623753600038</dd>

								<dt>Swift code</dt>
								<dd>AGRIFRPP813</dd>

								<dt>CCY</dt>
								<dd>GBP</dd>

							</dl>

						</div>

						<div class="grid__col--2 grid__col--pad-left">

							<dl class="split-list">

								<dt>Country</dt>
								<dd>Uk</dd>

								<dt>SIC Code</dt>
								<dd><input type="text" class="editable-line" value="1000-1499"></dd>

								<dt>Industry</dt>
								<dd><input type="text" class="editable-line" value="Mining"></dd>

							</dl>

						</div>

						<div class="grid__col--4 grid__col--pad-left">

							<dl class="split-list">

								<dt>Website</dt>
								<dd><input type="text" class="editable-line" value="http://www.google.com"></dd>

								<dt>Upload document</dt>
								<dd><input type="file" class="alone"></dd>

							</dl>

						</div>

				</div>

			</div>

		</section>

		<section class="main-content__section">

			<h3>Relationships and payments to clients</h3>

			<div class="grid">

				<div class="grid__row">

					<div class="grid__col--6 grid__col--pad-right">

						<ul class="key">
							<li class="key__item">
								<span class="key__symbol" style="display:inline-block;width:20px;height:20px;border:2px solid #333;border-radius:100px;background:#fff;"></span>
								<span class="key__label">Beneficiary</span>
							</li>
							<li class="key__item">
								<span class="key__symbol"><img src="/img/d3-key-client.svg" alt="Client" width="20px" height="20px"></span>
								<span class="key__label">Client</span>
							</li>
							<li class="key__item">
								<span class="key__symbol"><img src="/img/d3-key-client-danger.svg" alt="Client" width="20px" height="20px"></span>
								<span class="key__label">Client with shared benes</span>
							</li>
							<li class="key__item">
								<span class="key__symbol"><img src="/img/d3-key-payments.svg" alt="Payments" height="20px"></span>
								<span class="key__label">Payments</span> 
							</li>
						</ul>

						<div id="relationships"></div>

					</div>

					<div class="grid__col--6 grid__col--pad-left">

						<p class="label space-after"><span class="label__support">This beneficiary has received a total of</span> <span id="total-no-payments"></span> payments</p>

						<div class="scrollpane--container" data-height="724">

							<table id="tbl-payments" class="micro">
								<thead>
									<tr>
										<th>Client</th>
										<th>Payment date/time</th>
										<th>Reference</th>
										<th class="number">Amount</th>
										<th>3rd P.</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>

</main>

	<div id="modal-global-just-a-moment" class="modal--hidden modal--small center">

	<h2>Just a moment...</h2>

	<img class="ajax-loader space-after space-before" src="/img/ajax-loader.gif" alt="Please wait...">

</div>	<div id="drawer-user" class="drawer--closed">

	<h2 class="drawer__heading">Your profile<span class="drawer__close"><i class="material-icons">close</i></span></h2>

	<ul class="split-list">
		<li>
			<i class="material-icons">settings</i> <a href="page-compliance-profile-administration.html">Administration</a>
		</li>
	</ul>

</div>
	<script type="text/javascript" src="../js/cd.js"></script>

	
	
	
	
	
	
	<!-- BEGIN: DO NOT COPY THIS. THIS CODE IS JUST TO MIMIC DIFFERENT INTERACTIONS AND STATES. THIS WILL ALL BE HANDLED VIA AJAX IN THE BUILD. -->
<script type="text/javascript">

	$(function() {

		window["CurrenciesDirect"].Util.checkDevMode();

		$('.tabs__tab').on('click',function(e) {

			var theTab = $(this),
				loader = $(theTab).find('.ajax-loader').length ? $(theTab).find('.ajax-loader') : $(theTab).siblings('.ajax-loader');

			$(loader).show();

			setTimeout(function() {
				$(loader).hide();
			},1000);

		});

		window["CurrenciesDirect"].PageInteractionExample = {

			advanceWizardStep:function(btn,data) {

				var nextButton 				= btn,
					loader 					= $(nextButton).siblings('.ajax-loader'),	
					wizardNamePart  		= data.wizardNamePart, 			// credit
					URL 	 				= data.URL,            			// page-treasury-profile--credit-method.html
					nextStepContent			= data.nextStepContent,			// wizard-step-credit-method
					currentInstructionStep 	= data.currentInstructionStep, 	// credit-wizard-basic and get credit-wizard-method
					progressBarAmount 		= data.progressBarAmount;

				$(loader).show();

				setTimeout(function() {

					$.post(URL, function(d) {

						$('#'+wizardNamePart+'-wizard-current').html($('#'+nextStepContent,d));
						
						window["CurrenciesDirect"].InputMores.showOnPageload();
						window["CurrenciesDirect"].PillChoice.setOnPageload();

						$('#'+currentInstructionStep).removeClass('wizard__step--on').removeClass('wizard__step--incomplete').addClass('wizard__step--complete');
						$('#'+currentInstructionStep).next().addClass('wizard__step--on');

						$('#'+currentInstructionStep).find('.wizard-step-complete-example').show();
						$('#'+currentInstructionStep).find('.wizard-step-incomplete-example').hide();

						$('.ajax-loader').hide();

					}, 'html');

					$(loader).hide();

				}, 1000)

				setTimeout(function() {
					window["CurrenciesDirect"].ProgressBar.update($('#progress-bar-'+wizardNamePart+'-instruction'),progressBarAmount);
					window["CurrenciesDirect"].Tooltips.reinit();
				}, 2000);
			},

			completeWizard:function(btn,data) {

				var finishButton 			= btn,
					loader 					= $(finishButton).siblings('.ajax-loader'),	
					wizardNamePart  		= data.wizardNamePart;			

				$(loader).show();

				setTimeout(function() {

					$('#wizard-step-'+wizardNamePart+'-done .message--info').hide();
					$('#wizard-step-'+wizardNamePart+'-done #message-'+wizardNamePart+'-done').show();

					$('#'+wizardNamePart+'-wizard .splitpanel__section--actions').hide();
					window["CurrenciesDirect"].Util.glowIt($('#'+wizardNamePart+'-wizard>.splitpanel'),false);

					$('#'+wizardNamePart+'-wizard .wizard__title .wizard-step-complete-example, #'+wizardNamePart+'-wizard .wizard__status, #'+wizardNamePart+'-wizard .close-x--tr').hide();
					$('#'+wizardNamePart+'-wizard .wizard__title .wizard-step-incomplete-example').show();
					$(loader).hide();

					window["CurrenciesDirect"].Slip.setHeight(200);

				}, 1000);

			}

		}

	});

</script>
	</body>

</html>

<script>

	// DO NOT COPY. THIS IS AN EXAMPLE OF HOW TO INDICATE AN EDITABLE LINE AS SAVED
	$(function() {

		$('.editable-line').on('blur',function() {
			var wrapper = $(this).parent();
			$(wrapper).find('.editable-line__saved').remove();
			wrapper.append('<small class="editable-line__saved mute"><i class="material-icons">save</i> 13:45:31</small>')
		});

	});
</script>

<script>

	var treeData =
		{
			"name":"This beneficiary",
			"type":"beneficiary",
			"children":[
				{
					"id": "3111I241980",
					"name": "Edgar Allies",
					"type": "client",
					"totalBeneficiaries":"2",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "6112I234756",
					"name": "Elizabeth Langdon",
					"type": "client",
					"totalBeneficiaries":"4",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "6112I242759",
					"name": "Emma Souter",
					"type": "client",
					"totalBeneficiaries":"2",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "6112I223019",
					"name": "Gillian Bittlestone",
					"type": "client",
					"totalBeneficiaries":"6",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "6112I247630",
					"name": "Joseph Brannan",
					"type": "client",
					"totalBeneficiaries":"3",
					"children": [
            {
							"id":"1122219490",
							"otherParents":[
								{
								 	"id": "6112I223019",
								 	"noPayments":334
								},
								{
								 	"id": "3111I226575",
								 	"noPayments":334
								}
							],
              "name": "Pradeep Kumar",
              "type": "beneficiary",
							"noPayments":421
            }
          ],
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "3111I226575",
					"name": "Katherine Victoria James",
					"type": "client",
					"totalBeneficiaries":"5",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						},
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "3111I252203",
					"name": "Keith  Woodhouse",
					"type": "client",
					"totalBeneficiaries":"7",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "6112I245274",
					"name": "Mark Golledge",
					"type": "client",
					"totalBeneficiaries":"5",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "6112I235953",
					"name": "Michelle Henderson",
					"type": "client",
					"totalBeneficiaries":"6",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				},
				{
					"id": "3111I225069",
					"name": "Shaun Bussey",
					"type": "client",
					"totalBeneficiaries":"3",
					"payments": [
						{
							"reference":"BGHR391133",
							"date":"12/12/2018 23:45:11",
							"amount":"33,400.00",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR588932",
							"date":"12/11/2018 12:44:32",
							"amount":"103.55",
							"thirdParty":"No"
						},
						{
							"reference":"BGHR678853",
							"date":"12/11/2018 12:44:32",
							"amount":"50,331.22",
							"thirdParty":"Yes"
						}
					]
				}
			]
		};

</script>

<script src="/js/d3/cd.d3.compliance.beneficiaries.js"></script>

