<html>
	<head>
		<style>
			table {
			    font-family: arial, sans-serif;
			    border-collapse: collapse;
			    width: 100%;
			}
			
			td, th {
			    border: 1px solid #dddddd;
			    text-align: left;
			    padding: 8px;
			}
			
			tr:nth-child(even) {
			    background-color: skyblue;
			}
		</style>
	</head>
	<body>
		<p>Hello, </p>
		<p>Below payment has been #UpdatedPaymentStatus</p>
		<table>
			<tr>
				<td>Customer Number</td>
				<td>#CustomerNumber</td>		
			</tr>
			<tr>
				<td>Contract Number</td>
				<td>#TradeContractId</td>		
			</tr>
			<tr>
				<td>Funds In Amount</td>
				<td>#DebtorAmount</td>		
			</tr>
			<tr>
				<td>Currency</td>
				<td>#Currency</td>		
			</tr>
			<tr>
				<td>Activity</td>
				<td>#PaymentStatus</td>		
			</tr>
			<tr>
				<td>Date and Time</td>
				<td>#TodayDate</td>		
			</tr>
			<tr>
				<td>User</td>
				<td>#UserName</td>		
			</tr>
			<tr>
				<td>Reason</td>
				<td>#StatusReason</td>		
			</tr>
			<tr>
				<td>Comment</td>
				<td>#Comment</td>		
			</tr>
			<tr>
				<td>Mode of Payment</td>
				<td>#PaymentMethod</td>		
			</tr>			
		</table>
	</body>
</html>