
@CHARSET "UTF-8";
.fill,body,html {
    height: 100%;
   
}

#json_vl,.j2d_td_head,.j2d_td_row_even,.j2d_td_row_odd {
    font-size: small
}

#json_pnl,#xxa,.navbar-header,.navbar-nav,.navbar-nav>li,.j2d_td_head {
    float: left
}

.j2d_td_row_even {
    padding: 2px
    
}

.j2d_td_row_odd {
    padding: 2px
}

.j2d_td_head {
    padding: 2px;
    font-weight: 700
}



#ProviderResponsepopups table  {
    border: 1px solid #ccc;
    border-collapse : collapse;
    font-family : 'Roboto';
    font-style : inherit;
    font-size : 100%;
}
#ProviderResponsepopups table tbody tr:hover td {
  background-color: transparent!important; 
}

#ProviderResponsepopups table tbody tr .accordion__header a {
 
  background-color: transparent;
   text-transform: capitalize;
   font-family : 'Roboto';
    font-style : inherit;
    font-size : 100%;
    text-decoration : none;
   
 
}
#ProviderResponsepopups table .accordion--quick-controls{
margin-top:0px;
border : 0px;
}