@CHARSET "UTF-8";
.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}
.popupDiv{
margin: .5em 0;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
display: none; 
}
.popupTextArea{
resize: none; height: 477px; width: 650px;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
.ui-dialog-buttonpane{
	height: 15px;
}
.popupTextAreaDeviceInfo{
resize: none; height: auto; width: 100%;
}
.popupTextAreaAccountHistory{
resize: none; height: 1472px; width: 889.5px;
}
.popupLinks a{
color: #2b76b6;

}
.popupTextAreaHolisticView{
resize: none; height: auto; width: 850.5px;
}

.popupTextAreaWalletView{
resize: none; height: auto; width: 850.5px;
}
.space-after,
p,
legend,
.legend,
dl dd,
table:not(.ui-datepicker-calendar) caption,
dl.split-list,
dl.split-list--vert,
.message,
.message--positive,
.message--negative,
.message--neutral,
.message--info,
.message--toast,
#pagepanel,
.splitpanel__section > h3:first-of-type,
.splitpanel__section--micro > h3:first-of-type,
.splitpanel__section--summary > h3:first-of-type,
.splitpanel__section--actions > h3:first-of-type,
.splitpanel__section--messages > h3:first-of-type,
.sub-nav__title,
.sub-nav__sub-title,
.main-nav__sub-nav ul,
.filter-bar,
.process__progress {
  margin-bottom: 14px;
}
.droplist__flag {
  margin-right: 2px;
  vertical-align: middle;
}

table.micro td .modal--visible {
  font-size: 0.875rem;
}

.modal,
.modal--hidden,
.modal--visible {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px #222;
  box-shadow: 0px 2px 8px #222;
  padding: 1.25rem;
  position: fixed;
  top: 75px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: visibility 0.2s 0s, opacity 0.2s 0s, -webkit-transform 0.2s 0s;
  -moz-transition: visibility 0.2s 0s, opacity 0.2s 0s, -moz-transform 0.2s 0s;
  -o-transition: visibility 0.2s 0s, opacity 0.2s 0s, -o-transform 0.2s 0s;
  -ms-transition: visibility 0.2s 0s, opacity 0.2s 0s, -ms-transform 0.2s 0s;
  transition: visibility 0.2s 0s, opacity 0.2s 0s, transform 0.2s 0s;
  z-index: 601;
}
.disabled,
.button--disabled,
.pagination__jump--disabled {
  border-color: #bababa;
  color: #bababa !important;
  cursor: not-allowed !important;
    /*to disable click events: added by Dipak*/
  pointer-events: none !important;
}

.boxpanel,
.boxpanel--hl,
.boxpanel--micro,
.boxpanel--splits,
.boxpanel--shadow,
.boxpanel--shadow--splits,
.boxpanel--horiz-splits,
.boxpanel--horiz-splits--form,
a.optional-panel__trigger {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.9375rem;
}

.pagepanel,
.drawer,
.drawer--open,
.drawer--closed {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #233d4d;
  padding: 1rem;
  -webkit-transition: padding 0.2s 0.2s;
  -moz-transition: padding 0.2s 0.2s;
  -o-transition: padding 0.2s 0.2s;
  -ms-transition: padding 0.2s 0.2s;
  transition: padding 0.2s 0.2s;
}

.splitpanel,
.splitpanel--shadow {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.xl {
  font-size: 1.25rem;
}

.positive {
  color: #29873c !important;
}


.splitpanel__section,
.splitpanel__section--micro,
.splitpanel__section--summary,
.splitpanel__section--actions,
.splitpanel__section--messages {
  border-bottom: 1px solid #ccc;
  padding: 0.9375rem;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.modal--hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  visibility: hidden;
}

#slip,
.slip,
.slip--open,
.slip--full,
.slip--closed {
  background-color: #fff;
  bottom: 0 !important;
  height: 26.875rem;
  left: 0 !important;
  min-width: 1242px;
  position: fixed !important;
  right: 0 !important;
  top: auto !important;
  width: 100%;
}
@media (min-width: 85.4375rem) {
  #slip,
  .slip,
  .slip--open,
  .slip--full,
  .slip--closed {
    min-width: 1280px;
  }
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}