.hidepartialdata {
	max-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-position: initial;
}

.pill-choice__choice--small.label.pillcategory {
	padding: 0.2125rem;
	font-size:0.75rem;
}

.button-bar .material-icons-check-size {
	padding:6px;
}
/* a {
  text-decoration: none;
  color: #2b76b6;
} */

.disabled,
.button--disabled,
.pagination__jump--disabled {
  border-color: #bababa;
  color: #bababa !important;
  cursor: not-allowed !important;
    /*to disable click events: added by Dipak*/
  pointer-events: none !important;
}

#client-wallets .cell-trunc{
 text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 20px;
}
#fx-wizard{
	max-height : 700px;
	overflow-y : auto;
	right: -44px;
}

.scroll-tabs-content{
	max-height : 200px !important;
	overflow-y : auto;
}


.scroll-tabs-content-div{
	max-height : 500px !important;
	overflow-y : auto;
}

#slip-fx-main-content{
	max-height : 600px;
	overflow-y : auto;
}

#fx-deal-summary-details{
	max-height : 75px;
	overflow-y : auto;
}
.cell-trunc
{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 20px;
}

#data-recurrence{
	word-wrap:break-word;
}