<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />
	<mvc:annotation-driven />
	<context:component-scan base-package="com.currenciesdirect.gtg.compliance.compliancesrv" />
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<tx:annotation-driven />

	<import resource="profile/contact-status-flow.xml" />
	<import resource="profile/registration-flow-common.xml"/>
	<import resource="profile/kyc-service-flow.xml"/>
	<import resource="profile/sanction-service-flow.xml"/>
	<import resource="profile/registration-flow.xml" />
	<import resource="profile/update-contact-flow.xml"/>
	<import resource="profile/fraugster-service-flow.xml"/>
	<import resource="profile/sanction-update-flow.xml"/>
	<import resource="profile/reg-blacklist-service-flow.xml"/>
	<import resource="profile/reg-recheck-flow.xml"/>
	<import resource="funds_out/funds-out-common.xml"/>
	<import resource="funds_out/funds-out-create-flow.xml"/>
	<import resource="funds_out/funds-out-update-flow.xml"/>
	<import resource="funds_out/funds-out-delete-flow.xml"/> 
	<import resource="funds_out/fundsout-sanction-service-flow.xml"/>
	<import resource="funds_out/fundsout-custom-checks-service-flow.xml"/>
	<import resource="funds_out/clear-sanction-failed-funds-out.xml"/>
	<import resource="funds_out/fundsout-fraugster-service-flow.xml"/>
	<import resource="funds_out/funds-out-blacklist-service-flow.xml"/>
	<import resource="funds_out/funds-out-failed-repeat-check-flow.xml"/>
	<import resource="funds_in/custom-checks-service-flow.xml"/>
	<import resource="funds_out/whitelist-update-flow.xml"/>
	<import resource="funds_in/funds-in-common.xml"/>
	<import resource="funds_in/funds-in-create-flow.xml"/>
	<import resource="funds_in/whitelist-update-flow.xml"/>
	<import resource="funds_in/fundsin-sanction-service-flow.xml"/>
	<import resource="funds_in/funds-in-delete-flow.xml"/>
	<import resource="funds_in/funds-in-fraugster-service-flow.xml"/>
	<import resource="funds_in/funds-in-blacklist-service-flow.xml"/>
 	<import resource="mqservice/mq-service-flow.xml"/>
 	<import resource="fraugsterservice/fraugster-csv-upload-service-flow.xml"/> 
 	<import resource="funds_in/funds-in-failed-repeat-check-flow.xml"/>
 	<import resource="profile/profile-status-update-flow.xml"/>
 	<import resource="profile/delete-contact-flow.xml"/>
 	<import resource="profile/onfido-status-update-flow.xml"/>
 	<import resource="data_anonymize/data-anonymize.xml"/>
 	<import resource="sanctioncsvservice/sanction-csv-upload-service-flow.xml"/>
 	<!-- Added for AT-3658 -->
 	<import resource="funds_out/funds-out-payment-reference-service-flow.xml"/>
 	<import resource="transaction_monitoring_mq_service/transaction-monitoring-mq-flow.xml"/>
 	<import resource="profile/intuition-update-reg-status-flow.xml"/>
 	<import resource="profile/intuition-update-repeat-check-status-flow.xml"/>
 	<!-- Added for AT-4451 -->
 	<import resource="funds_in/funds-in-intuition-update-repeat-check-status.xml"/>
 	<import resource="funds_out/funds-out-intuition-update-repeat-check-status.xml"/>
 	<import resource="transaction_monitoring_mq_service/tmmq-bulk-reprocess.xml"/>
 	<import resource="intuition/intuition-payment-status-update.xml"/> <!-- AT-4749 -->
 	<!-- Added for AT-4773 -->
 	<import resource="transaction_monitoring_mq_service/transaction-monitoring-sync-reg-intuition-mq.xml"/>
 	<import resource="card/order-card-eligibility-flow.xml"/>
	<import resource="card/order-card-status-update-flow.xml"/>
	<!-- Added for AT-4896 -->
	<import resource="card/order-card-post-transction-flow.xml"/>
	<!-- Added for AT-4906 -->
	<import resource="titan/titan-get-payment-status-flow.xml"/>
	<!-- AT-5023 -->
	<import resource="card/post-card-transaction-monitoring-mq-flow.xml"/>
	<!-- AT-5293/5294 -->
	<import resource="profile/dormant-customer-update-on-intuition-flow.xml"/>
	<!-- AT-5264 -->
	<import resource="intuition/intuition-historic-payment-csv-flow.xml" />
	<!-- MODULE SPECIFIC CONFIGURATION ENDS -->
		
	<!-- GLOBAL CONFIGURATION -->
	<import resource="spring-compliance-core.xml" />
	<!-- GLOBAL CONFIGURATION ENDS -->
</beans>